#customer_form{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

@media (max-width: 640px){
 #customer_form{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:100%;
 }
}